<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopify Challenge</title>




    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->

<script type="text/javascript">

    // get results from request to 'url' and then call the 'function to update dom'
    function update_section(url, function_to_update_dom) {
        // async request
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                    // get the info to put
                    var results = JSON.parse(xmlhttp.response);
                    // use the function to put the info in the dom
                    function_to_update_dom(results);
            }
        };
        xmlhttp.open('GET', url, true);
        xmlhttp.send();

    };

    // call this to update the gallery section
    function update_gallery_section(results_from_server){

        $('#gallery_div').html(results_from_server["info"])

    }

    // send search input to server and display results
    function submit_search() {
            var search_input = document.getElementById("search_input").value

            update_section('/search/?search_input='+search_input, update_gallery_section)

    };

    function show_hide_img() {
          var x = document.getElementById("hide");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }

    };    


    $( document ).ready(function() {
        $("#form").submit(function(e) {
        e.preventDefault();
        });

        var x = document.getElementById("hide");
        x.style.display = "block";
    });

</script>

</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fas fa-film mr-2"></i>
                Images
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="index.html">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" aria-current="page" href="/index">Videos</a>
                </li>                
            </ul>
            </div>
        </div>
    </nav>

    <div class="bar-flex tm-hero justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/hero.jpg' %}">
        <form class="d-flex tm-search-form" id="form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search" id="search_input">
            <button class="btn btn-outline-success tm-search-btn" type="submit" id="clickme" onclick="submit_search();">
                <i class="fas fa-search"></i>
            </button>
            <button class="btn btn-outline-success tm-search-btn" type="submit" onclick="show_hide_img();">
                <i class="fas fa-image"></i>
            </button>                     
        </form>

        <div id="hide">
            <form class="d-flex tm-search-form" method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.image }}
                <input type='hidden' name='owner_id' value=1>
                <button class="btn btn-outline-success tm-search-btn" type="submit">Upload</button>
            </form> 

        </div>

    </div>




    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">
                My Images
            </h2>
        </div>



        <div class="row tm-mb-90 tm-gallery" id="gallery_div">

        {% for img in imgs %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/frontend/img/{{img.title}}.jpg" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center"> 
                        <h2>{{img.title}}</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">{{img.owner}}</span>
                    <span>${{img.price}}</span>
                </div>
            </div>        
        {% endfor %}

       
        </div> <!-- row -->
        <div class="row tm-mb-90">
            <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                <a href="javascript:void(0);" class="btn btn-primary tm-btn-prev mb-2 disabled">Previous</a>
                <div class="tm-paging d-flex">
                    <a href="javascript:void(0);" class="active tm-paging-link">1</a>
                </div>
                <a href="javascript:void(0);" class="btn btn-primary tm-btn-next">Next Page</a>
            </div>            
        </div>
    </div> <!-- container-fluid, tm-container-content -->

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                    Implemented by Bar Slutsky
                </div>                
                <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                    For the consideration of Shopify©
                </div>
            </div>
        </div>
    </footer>
    
    <script src="{% static 'js/plugins.js' %}"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>